{% extends 'base.html' %}
{% load static %}

{% block titulo %} Perfil de usuário {% endblock %}

{% block conteudo %}

<h2 class="mb-4">Perfil do usuário</h2>
<hr>
    <form method="POST" enctype="multipart/form-data" action="{% url 'perfil:atualizar_perfil' funcionario.id %}">
    {% csrf_token %}
    <div class="form-row">

        <div class="form-group  col-md-6">
            <label for="re"><strong>Registro : </strong></label>
            <input type="text" class="form-control" id="re_funcionario" name="re_funcionario"
                value="{{ funcionario.re_funcionario }}" readonly>
        </div>

        <div class="form-group  col-md-6">
            <label for="nome"><strong>Nome do Funcionário : </strong></label>
            <input type="text" class="form-control" id="nome" name="nome"
                value="{{ funcionario.nome }}" readonly>
        </div>

        <div class="form-group col-md-6">
            <label for="unidade"><strong>Unidade : </strong></label>
            <select name="unidade" class="select form-control form-control" id="unidade" readonly>
                <option value="{{ funcionario.unidade.id }}">{{ funcionario.unidade }}</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="centro_de_custo"><strong>Centro de Custo : </strong></label>
            <input type="text" class="form-control" id="centro_de_custo_link" name="centro_de_custo_link"
                value="{{ funcionario.centro_de_custo_link }}" readonly>
        </div>

        <!-- <div class="form-group  col-md-5">
            <label for="cpf"><strong>CPF :  </strong></label>
            <input type="text" class="form-control" id="cpf" name="cpf" value="{{ funcionario.cpf }}" readonly>
        </div> -->

        <div class="form-group  col-md-6">
            <label for="ramal"><strong>Ramal : </strong></label>
            <input type="text" class="form-control" id="ramal" name="ramal" value="{{ funcionario.ramal }}" readonly>
        </div>

        <div class="form-group  col-md-6">
            <label for="email_corporativo"><strong>Email Corporativo : </strong></label>
            <input type="email" class="form-control" id="email_corporativo" name="email_corporativo" value="{{ funcionario.email_corporativo }}" readonly>
        </div>

        <div class="form-group  col-md-6">
            <label for="telefone"><strong>Telefone : </strong></label>
            <input type="text" class="form-control" id="telefone_edit" name="telefone" value="{{ funcionario.telefone }}">
        </div>

        <div class="form-group  col-md-6">
            <label for="email"><strong>Email Pessoal: </strong></label>
            <input type="email" class="form-control" id="email_edit" name="email" value="{{ funcionario.email }}">
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="termo_dados" id="termo_dados_1" value="Alteração" required>
            <label class="form-check-label" for="termo_dados">
                Eu {{ funcionario.nome|title }}, autorizo o departamento de <strong> Recursos Humanos </strong>
                a armazenar meu número de celular pessoal e/ou e-mail pessoal, com a finalizade
                exclusiva de ser contatado pelos funcionários do departamento de RH e/ou Gestão.
            </label>
        </div>
        <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="termo_dados" id="termo_dados_2" value="Exclusão" required>
            <label class="form-check-label" for="termo_dados">
            Eu {{ funcionario.nome|title }}, Solicito a exclusão dos meus dados.
            </label>
        </div>
        </form>

        <div class="mt-4 col-md-12">
        <button type="submit" class="btn btn-success float-right  w-100 mt-1">Alterar Informações</button>
        </div>
        
    </div>

{% endblock %}