{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block titulo %} Restauração de Senha {% endblock %}


{% block conteudo %}


<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3>Restaurar sua Senha </h3>
      <hr>
  </div>

  <div class="form-group col-md-8 offset-md-2" id="reset-password">
    <form method="POST" enctype="multipart/form-data" action="{% url 'perfil:reset_password' %}">
      {% csrf_token %}
      <p> Nova Senha: </p>
      <input type="text" class="form-control" name="new_password1" id="id_new_password1">
  
      <p> Confirmação de Nova Senha : </p>
      <input type="text" class="form-control" name="new_password2" id="id_new_password2">
      <button class="btn btn-success float-right mt-3 w-25" type="submit">Enviar</button>
      <div class="mb-5"></div>
  
    </form>
  </div>

{% endblock %}