{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} Abrir um novo chamado {% endblock %}

{% block conteudo %}
<div class="row">
  <div class="col-12">
      <h3 class="">Abrir um chamado</h3>
      <hr>
<form method="POST" enctype="multipart/form-data"  content='text/html; charset=UTF-8' accept-charset="UTF-8">
{% csrf_token %}
<div class="form-row">
  <div class="form-group offset-md-1 col-md-3 mb-0">
    {{ form.unidade|as_crispy_field }}
  </div>
  <div class="form-group col-md-3 mb-0">
    {{ form.categoria|as_crispy_field }}
  </div>
  <div class="form-group col-md-4 mb-0">
  <label> Subcategoria </label>
  <select name="subcategoria" class="select form-control form-control" id="subcategoria">
    <option value="">---------</option>
</select>
  </div>
  <div class="form-group offset-md-1 col-md-3 mb-0">
    {{ form.funcionario|as_crispy_field }}
  </div>
  <div class="form-group col-md-7 mb-0">
    {{ form.nome|as_crispy_field }}
  </div>
<div class="form-group offset-md-1 col-md-10 mb-0">
  <input type="email" class="form-control" id="email" name="email" readonly hidden>
</div>
  <div class="form-group offset-md-1 col-md-10 mb-0">
    {{ form.texto|as_crispy_field }}
  </div>
  <div class="form-group offset-md-1 col-md-10 mb-0">
    {{ form.upload_arquivo|as_crispy_field }}
  </div>
</div>
<div class="row">
<div class="col-md-12">
  <button type="reset" class="btn btn-warning float-right w-25">Limpar</button>
   <button type="submit" class="btn btn-success mr-2 float-right w-50">Enviar</button>
</div>
</div>
</form>
</div>
</div> 

{% endblock %}