{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} Abrir um novo chamado {% endblock %}

{% block conteudo %}
<div class="row">
  <div class="col-12">
      <h3 class="">Abrir um chamado</h3>
      <hr>

<form method="POST"  enctype="multipart/form-data"  content='text/html; charset=UTF-8' accept-charset="UTF-8"> <!-- Generico Ticket-->
{% csrf_token %}
<div class="form-row">
<!-- Começa aqui o formulário -->
  <div class="form-group col-md-6 mb-0">
    <label> Categorias : </label>
    <select name="categoria" class="select form-control form-control" id="categoria">
      <option value="" selected>----------</option>
      {% for categoria in categoria %}
      <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group col-md-6 mb-0">
    <label> Subcategoria : </label>
    <select name="subcategoria" class="select form-control form-control" id="subcategoria">
      <option value="" selected>----------</option>
    </select>
  </div>
<div class="form-group col-md-12 mb-0">
  <input type="email" class="form-control" id="email" name="email" readonly hidden>
</div>
<!-- Parte fixa do formulário. -->
<div class="form-group  col-md-12 mb-0">
  <select id="id_unidade" name="unidade" class="select form-control form-control" hidden>
    <option value="" selected>----------</option>
    {% for unidades in unidades %}
    <option value="{{ unidades.nome }}">{{ unidades }}</option>
    {% endfor %}
  </select>
</div>

  <div class="form-group  col-md-12 mt-2">
    {{ form.texto|as_crispy_field }}
    {{ form.upload_arquivo|as_crispy_field }}
  </div>

</div>

<div class="row">
<div class="col-md-12">
  <button type="reset" class="btn btn-warning float-right w-25">Limpar</button>
   <button type="submit" class="btn btn-success mr-1 float-right w-25">Enviar</button>
</div>
</div>
</form>

<a href="{% url 'formularios:enviar_justificativa_ausencia' %}" id="justificativa_ausencia_link" hidden></a>
<a href="{% url 'formularios:enviar_agendamento_ferias' %}" id="agendamento_ferias_link" hidden></a>

</div>
</div> 


{% endblock %}