{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} Abrir um novo chamado {% endblock %}

{% block conteudo %}
<div class="row pl-5">
<div class="col-md-6 mb-0 mt-2">
<p class="lead"> Abrir um chamado </p>
</div>
</div>
<div class="container w-75">
<div class="col-md-12"></div>
<div class="jumbotron jumbotron-fluid p-5 mb-5 w-100">

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-row">
  <div class="form-group offset-md-1 col-md-3 mb-0">
    {{ form.unidade|as_crispy_field }}
  </div>
  <div class="form-group col-md-7 mb-0">
    {{ form.categoria|as_crispy_field }}
  </div>
  <div class="form-group offset-md-1 col-md-3 mb-0">
    {{ form.funcionario|as_crispy_field }}
  </div>
  <div class="form-group col-md-7 mb-0">
    {{ form.nome|as_crispy_field }}
  </div>
<div class="form-group offset-md-1 col-md-10 mb-0">
  <input type="email" class="form-control" id="email" name="email" readonly hidden>
</div>
  <div class="form-group offset-md-1 col-md-10 mb-0">
    {{ form.texto|as_crispy_field }}
  </div>
</div>
<div class="mr-5">
  <button type="submit" class="btn btn-success float-right">Enviar</button>
  <button type="reset" class="btn btn-warning mr-1 float-right">Limpar</button>
</div>

</form>
</div>
</div>
</div>
</div>
{% endblock %}