{% extends 'base.html' %}
{% load static %}

{% block titulo %} Listagem de Tickets {% endblock %}

{% block conteudo %}
<div class="row pl-5">
<div class="col-md-6 mb-0 mt-2">
<h3>Tickets Enviados </h3>
</div>
</div>
<div class="row p-5">
<div class="col-md-12">
<div class="offset-md-1 col-md-10">
<div class="row">
<div class="col-md-4 mb-2   ">
<input type="text" class="form-control" id="pesquisar" name="pesquisar" value="" placeholder="Digite a categoria ou Nome">
</div>
<div class="col-md-6 mb-2">
<button type="button" class="btn btn-primary">Pesquisar</button>
</div>

</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 10%; text-align : center;">Data</th>
      <th scope="col" style="width: 7%; text-align : center;">RE</th>
      <th scope="col" style="width: 18%; text-align : left;">Nome</th>
      <th scope="col" style="width: 12%; text-align : left;">Categoria</th>
      <th scope="col" style="width: 5%; text-align : center;">Unidade</th>
      <th scope="col" style="width: 17%; text-align : center;">Dias</th>
      <th scope="col" style="width: 5%; text-align : left;">Finalizado</th>
    </tr>
  </thead>
  <tbody>   
    <tr>
    {% for ticket in tickets %}
      <td style="text-align : center;">{{ ticket.data|date:"d/m/Y  H:i" }}</td>
      <td scope="row" style="text-align : center;">{{ ticket.funcionario.re_funcionario }}</th>
      <td style="text-align : left;"><h6><a href="{% url 'chamados:atualizar_chamado' ticket.id %}"> {{ ticket.funcionario.nome }}</a></h6></td>
      <td style="text-align : left;">{{ ticket.categoria }}</td>
      <td style="text-align : center;">{{ ticket.funcionario.unidade }}</td>
      {% if ticket.finalizado is False %}
      <td id="ticket-aberto">{{ ticket.tempo_aberto }} </td>
      {% else %}
      <td id="ticket-fechado">{{ ticket.tempo_finalizado }}</td>
      {% endif %}
      {% if ticket.finalizado is True %}
      <td style="text-align : center;"><img src="{% static 'assets\icons\tick.png' %}"></td>
      {% else %}
      <td style="text-align : center;"><img src="{% static 'assets\icons\cancel.png' %}"></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<tfoot>
{% include 'parciais/_pagination.html'%}
    </tfoot>
</div> <!-- ./after table -->
</div>
</div>
{% endblock %}