{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block titulo %} Tickets por Funcionarios {% endblock %}

{% block conteudo %}
    <div class="col-12">
        <p class="lead"> Atualizar chamado de <code>{{ ticket.funcionario.nome }}</code></p>
        <hr>
    </div>
<form method="POST" enctype="multipart/form-data" action="{% url 'chamados:finalizar_chamado' ticket.id %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group  col-md-3">
            <label for="unidade">Unidade : </label>
            <input type="text" class="form-control" id="unidade" name="unidade" value="{{ ticket.funcionario.unidade }}"
                readonly>
        </div>
        <div class="form-group col-md-3">
            <label for="re">RE : </label>
            <input type="number" class="form-control" id="funcionario" name="funcionario" maxlength="5" minlength="4"
                value="{{ ticket.funcionario.re_funcionario }}" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="re">Nome do Funcionário : </label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite um RE válido."
                value="{{ ticket.funcionario.nome }}" readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="ramal">Ramal / Telefone : </label>
            <input type="number" class="form-control" id="ramal" name="ramal" value="{{ ticket.funcionario.ramal }}"
                readonly>
        </div>
        <div class="form-group col-md-8">
            <label for="email">Email Funcionário : </label>
            <input type="email" class="form-control" id="email" name="email" value="{{ ticket.funcionario.email_corporativo }}"
                readonly>
        </div>
        <div class="form-group col-md-6">
            <label> Categoria : </label>
            <select name="categoria" class="select form-control form-control" id="categoria" readonly>
                <option value="{{ ticket.categoria.id }}">{{ ticket.categoria }}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label> Subcategoria : </label>
            <select name="subcategoria" class="select form-control form-control" id="subcategoria" readonly>
                <option value="{{ ticket.subcategoria.id }}">{{ ticket.subcategoria }}</option>
            </select>
        </div>
        <!-- <div class="form-group col-md-12">
            <label for="texto"><strong>Descrição do Chamado : </strong></label>
            <textarea class="form-control" id="texto-atualizar" name="texto" rows="3" col="15"
              readonly>{{ ticket.texto }}</textarea>
          </div> -->
        
        <div class="form-group col-md-12">
            <label for="texto">Historico : </label>
            <div class="history-field ">
                <hr style="border: 1px solid rgb(119, 119, 119); ">
                <p class="m-2 name_employee"> <strong> &nbsp; &nbsp; {{ ticket.funcionario.nome }},
                        {{ ticket.data|date:'d/m/Y G:i:s'}} </strong></p><span
                    style="margin-left: 20px;">‎‎▸</span>‎{{ ticket.texto }}
                <hr style="border: 1px solid rgb(119, 119, 119); ">
                {% for mensagens in historico %}
                <p class="m-2 name_employee"> <strong> &nbsp; &nbsp; {{ mensagens.funcionario.nome }},
                        {{ mensagens.data_mensagem|date:'d/m/Y G:i:s'}} </strong></p>
                <span class="description-historic ">&nbsp;&nbsp;&nbsp;&nbsp;▸{{ mensagens.mensagem }} </span>
                <hr style="border: 1px solid rgb(119, 119, 119); ">
                {% endfor %}
            </div>
        </div>


        {% if not ticket.finalizado %}
        <div class="form-group col-md-12">
            <label for="resposta">Resposta : </label>
            <textarea class="form-control" id="texto-azul" name="resposta" rows="3" col="15" value="{{ ticket.resposta }}" required>{{ ticket.resposta }}</textarea>
        </div>
        {% else %}
        {% endif %}

        
        {% if ticket.upload_arquivo %}
        <div class="form-group col-md-12">
            <label><strong>Arquivo : </strong></label>
            <p class="mt-2"><a href="{{ ticket.upload_arquivo.url }}">{{ ticket.upload_arquivo }}</a></p>
        </div>
        {% else %}
        {% endif %}

        <div class="form-group col-md-12">
            <!-- <label for="finalizado"><small><strong>Chamado foi finalizado ?</strong></small> </label> -->
            <select class="form-control" id="finalizado" name="finalizado" value="{{ ticket.finalizado }}" required hidden>
                <option id="finalizado" value="False">Não</option>
                <option id="finalizado" value="True">Sim</option>
            </select>
        </div>

        </form>

        {% if ticket.finalizado %}
        <div class="form-group  col-md-12 mt-4 p-2">
            <a type="button" href="{% url 'chamados:listar' %}" class="btn btn-warning pr-5 pl-5 w-100">&nbsp;&nbsp;&nbsp;
                Voltar &nbsp;&nbsp;&nbsp;</a>
        </div>
        
        {% else %}
        {% if request.user|belong_group:"RH" or request.user|belong_group:"ADMIN" and not ticket.finalizado %}

        <div class="form-group  col-md-4 mt-4">
            <button type="submit" class="btn btn-success w-100" id="finaliza_ticket">Finalizar</button>
        </div>

        <div class="form-group  col-md-4 mt-4">
            <button type="submit" class="btn btn-primary w-100" id="responder_chamado">Responder</button>
        </div>
        
        <div class="form-group  col-md-4 mt-4">
            <a type="button" href="{% url 'chamados:listar' %}" class="btn btn-warning pr-5 pl-5 w-100">&nbsp;&nbsp;&nbsp;
                Voltar &nbsp;&nbsp;&nbsp;</a>
        </div>

        {% else %}

        <div class="form-group  col-md-6 mt-4 p-2">
            <button type="submit" class="btn btn-primary w-100" id="responder_chamado" >Responder</button>
        </div>
        
        <div class="form-group  col-md-6 mt-4 p-2">
            <a type="button" href="{% url 'chamados:listar' %}" class="btn btn-warning pr-5 pl-5 w-100">&nbsp;&nbsp;&nbsp;
                Voltar &nbsp;&nbsp;&nbsp;</a>
        </div>
        {% endif %}
        {% endif %}

{% endblock %}