{% extends 'base.html' %}
{% load static %}

{% block titulo %} Editar funcionário novos {% endblock %}

{% block conteudo %}
<h2 class="mb-4"> Editar um novo Funcionário</h2>
<hr>
    <form method="POST" enctype="multipart/form-data" action="{% url 'perfil:editar_funcionario' funcionario.id %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group  col-md-6">
            <label><strong>Numero Registro : </strong></label>
            <input type="text" class="form-control" id="re_funcionario" name="re_funcionario"
             placeholder="Digite o RE do Funcionário" value="{{ funcionario.re_funcionario }}">
        </div>

        <div class="form-group  col-md-6">
            <label><strong>Nome do Funcionário : </strong></label>
            <input type="text" class="form-control" id="nome" name="nome" 
             placeholder="Digite o nome do Funcionário" value="{{ funcionario.nome }}">
        </div>

        <div class="form-group  col-md-6">
            <label><strong>Data de Admissão : </strong></label>
            <input type="text" class="form-control" id="admissao" name="admissao"
             placeholder="Digite a data de admissao do Funcionário" value="{{ funcionario.admissao }}">
        </div>

        <div class="form-group  col-md-6">
            <label><strong>Data de Demissão : </strong></label>
            <input type="text" class="form-control" id="demissao" name="demissao"
             placeholder="Digite a data de demissao do Funcionário" value="{{ funcionario.demissao }}">
        </div>

        <div class="form-group  col-md-6">
            <label><strong>Email Pessoal : </strong></label>
            <input type="text" class="form-control" id="email" name="email"
             placeholder="Digite o E-mail do Funcionário" value="{{ funcionario.email }}">
        </div>

        <div class="form-group  col-md-6">
            <label><strong>Email Corporativo : </strong></label>
            <input type="text" class="form-control" id="email_corporativo" name="email_corporativo"
             placeholder="Digite o Email Corporativo do Funcionário" value="{{ funcionario.email_corporativo }}">
        </div>

        <div class="form-group  col-md-6">
            <label><strong>Ramal : </strong></label>
            <input type="text" class="form-control" id="ramal" name="ramal"
             placeholder="Digite o Ramal do Funcionário" value="{{ funcionário.ramal }}">
        </div>

        <div class="form-group  col-md-6">
            <label><strong>Telefone : </strong></label>
            <input type="text" class="form-control" id="telefone" name="telefone"
            placeholder="Digite o RE do Funcionário" value="{{ funcionario.telefone }}">
        </div>

        <div class="form-group  col-md-6">
            <label><strong>Unidade : </strong></label>
            <select id="unidade" name="unidade" class="select form-control form-control">
              <option value="{{ funcionario.unidade.id }}" selected>{{ funcionario.unidade }}</option>
              {% for unidade in unidade %}
              <option value="{{ unidade.id }}">{{ unidade }}</option>
              {% endfor %}
            </select>
          </div>

        <div class="form-group  col-md-6">
            <label><strong>Centro de Custo : </strong></label>
            <select id="centro_de_custo_link" name="centro_de_custo_link" class="select form-control form-control">
              <option value="{{ funcionario.centro_de_custo_link.id }}" selected> {{ funcionario.centro_de_custo_link }} </option>
              {% for centro_de_custo in centro_de_custo %}
              <option value="{{ centro_de_custo.id }}">{{ centro_de_custo }}</option>
              {% endfor %}
            </select>
        </div>

        <div class="mt-4 col-md-6">
            <a href="{% url 'perfil:listar_funcionario' %}" class="btn btn-warning float-right  w-100">Voltar</a>
        </div>

        <div class="mt-4 col-md-6">
        <button type="submit" class="btn btn-success float-right w-100">Alterar Informações</button>
        </div>

</form>

{% endblock %}