{% load static %}

<div id="footer" class="container-fluid bg-dark p-4">
    <div class="container text-center">
        <p class="mb-0 text-white w-100">Em caso de problemas com a ferramenta, entre em contato com Liniker Oliveira ou Pedro Melo / RH - Salto</p>
    </div>
</div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
   
    <script>
    var message_ele = document.getElementById("message_container");

      setTimeout(function(){ 
        message_ele.style.display = "none"; 
        }, 7000);
    </script>

    <script>
      jQuery('#id_unidade option:selected').text(" ");
    </script>

    <script>
      jQuery(function () {
        var path = window.location.pathname.substring(-1);
        console.log("path : ", path)
        page = window.location.href.split("/").pop()
        console.log("caminho : ", page)
        if (page = path) {
          jQuery('li>a[href="' + path + '"]').addClass('active');
        }
      });
    </script>

    <script>
      jQuery(document).on('click', 'ul li', function(){
        jQuery(this).addClass('active')
      })
      
    </script>

    <script>
      jQuery("#id_funcionario").change(function () {
        let re_func = jQuery(this).val();
        console.log(`RE_FUNCIONARIO : ${re_func}`)
        let url = "/pegar_funcionario/" + re_func + "/";
        jQuery.ajax({
          url: url,
          type: 'GET',
          data: {
            re_func: re_func
          },
          beforeSend: function (xhr) {
            // body...
          },
          success: function (response) {
            jQuery("#id_nome").val(response.nome);
            jQuery("#email").val(response.email)
            // console.log(response.nome);
            // console.log(response.email);
          },
          error: function (xhr) {
            // body... xhr.statusText + xhr.responseText
          },
          complete: function () {
            // body...
          }
        })
      });
    </script>

<script type="text/javascript">
  $(function () {
    $("input:file").change(function () {
      var fileName = $(this).val();
      var output = "";
      for (var i=0; i<fileName.length; i++){
        if (fileName.charCodeAt(i) <= 127 ){
          output += fileName.charAt(i); 
        }
      }
      console.log(output)
      $('input[type="file"]').val() = output
      console.log($('input[type="file"]').val())
    });
  });
</script>

    <!-- <script>
      jQuery("id_upload_arquivo").trigger(function (){
        file = jQuery("id_upload_arquivo");
        console.log("to aqui ?",file)
      })
    </script> -->