{% load static %}

<div id="footer" class="container-fluid bg-dark p-4">
    <div class="container text-center">
        <p class="mb-0 text-white w-100">Em caso de problemas com a ferramenta, entre em contato com Liniker Oliveira ou Pedro Melo / RH - Salto</p>
    </div>
</div>

    <script src="{% static 'assets\jquery\jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'assets\jquery\popper.min.js' %}"></script>
    <script src="{% static 'assets\bootstrap\bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets\jquery\jquery-3.2.1.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static "assets/jquery/jquery.slim.min.js" %}"><\/script>')</script>
    <script src="{% static 'assets\bootstrap\bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
   

    <script>
      var message_ele = document.getElementById("message_container");
      
      setTimeout(function () {
        message_ele.style.display = "none";
      }, 7000);
    </script>

    <script>
      jQuery('#id_unidade option:selected').text(" ");
    </script>

    <script>
      jQuery(function () {
        var path = window.location.pathname.substring(-1);
        console.log("path : ", path)
        page = window.location.href.split("/").pop()
        console.log("caminho : ", page)
        if (page = path) {
          jQuery('li>a[href="' + path + '"]').addClass('active');
        }
      });
    </script>

    <script>
      
      jQuery("#finaliza_ticket").click(function (){
        alert("Deseja finalizar esse chamado ? ")
        var selectedTicket = jQuery("#finalizado").val("True");
        console.log("valor selecionado  finaliza: ", selectedTicket.val())
      })
      
    </script>

    <script>
        jQuery("#responder_chamado").click(function () {
          var selectedTicket = jQuery("#finalizado").val("False");
          console.log("valor selecionado responde : ", selectedTicket.val())
        });

    </script>

      <script charset="UTF-8">
        jQuery("#id_funcionario").change(function () {
          let re_func = jQuery(this).val();
          let url = "/pegar_funcionario/" + re_func + "/";
          jQuery.ajax({
            url: url,
            type: 'GET',
            data: {
              re_func: re_func
            },
            beforeSend: function (xhr) {
              // body...
            },
            success: function (response) {
              jQuery("#id_nome").val(response.nome);
              jQuery("#email").val(response.email)
              // console.log(response.nome);
              // console.log(response.email);
            },
            error: function (xhr) {
              // body... xhr.statusText + xhr.responseText
            },
            complete: function () {
              // body...
            }
          })
        });
      </script>


  <script>
/*    function indexMatchingText(ele, text) {
        for (var i = 0; i < ele.length; i++) {
          if (ele[i].childNodes[0].nodeValue === text) {
            return i;
          }
        }
        return undefined;
      } */

    jQuery("#categoria").change(function () {
      let categoria = jQuery(this).children("option:selected").val();
      let url = "carregar_subcategorias/" + categoria + "/";

      jQuery.ajax({                      
        url: url,                    
        type: 'GET',
        data: {
          'categoria': categoria  
        },
        success: function (response) {
          jQuery('#subcategoria').empty();
          let object = JSON.parse(response.data)
          object.forEach( function (data)  {
            console.log()
              $('<option/>', {
                'value': data.pk,
                'text': data.fields.nome,
              }).appendTo("#subcategoria")
          });   
          
        }
      });

    });
  </script>


  <script>
    // Fazer o login do usuário.
  jQuery("#funcionario-login").change(function () {
        let funcionario_login = jQuery(this).val();
        console.log("login : ", funcionario_login)
        let unidade = jQuery("#unidade").val();
        console.log("unidade : ", unidade)
        let url = "/funcionario_login/" + funcionario_login + "/";
        jQuery.ajax({
          url: url,
          type: 'GET',
          data: {
            funcionario_login: funcionario_login,
            unidade: unidade,
          },

          beforeSend: function (xhr) {
          },

          success: function (data) {
          console.log(unidade)
          concatenar = jQuery("#id_username").val(unidade + funcionario_login)
          },
  
          error: function (xhr) {
            console.log("erro inexperado.")
            // body... xhr.statusText + xhr.responseText
          },
          complete: function () {
            // body...
          }
        })
      });
  </script>


    <script>
      // Reset da senha, sequeceu sua senha.
  jQuery("#funcionario-login-reset").change(function () {
        let funcionario_senha_reset = jQuery(this).val();
        console.log("registro : ", funcionario_senha_reset)
        let unidade = jQuery("#unidade").val();
        console.log("unidade: ", unidade)
        let url = "/funcionario_login_reset/" + funcionario_senha_reset + "/";
        jQuery.ajax({
          url: url,
          type: 'GET',
          data: {
            funcionario_senha_reset: funcionario_senha_reset,
            unidade: unidade,
          },

          beforeSend: function (xhr) {
          },

          success: function (data) {
          username = jQuery("#username").val(unidade + funcionario_senha_reset)
          admissao = jQuery('#admissao').val()
          },
  
          error: function (xhr) {
            console.log('url : ', url)
            // body... xhr.statusText + xhr.responseText
          },
          complete: function () {
            // body...
          }
        })
      });
  </script>


<script>
  $('#telefone_edit').blur(function () {
      if ($(this).val().length === 0) {
      $(this).attr("placeholder", "Se esse campo ficar vázio, será considerado como exclusão de dados.").val("").focusout();
        if($('#email_edit').val().length === 0){
          $('#termo_dados_1').attr('disabled', 'disabled');
          $('#termo_dados_1').prop('checked', false);
          $('#termo_dados_2').prop('disabled', false);
    
        }
    }
    else {
      $('#termo_dados_2').attr('disabled', 'disabled');
      $('#termo_dados_2').prop('checked', false);
      $('#termo_dados_1').prop('disabled', false);
    }
    });

  $('#email_edit').blur(function () {
       if ($(this).val().length === 0) {
      $(this).attr("placeholder", "Se esse campo ficar vázio, será considerado como exclusão de dados.").val("").focusout();
          if ($('#telefone_edit').val().length === 0) {
            $('#termo_dados_1').attr('disabled', 'disabled');
            $('#termo_dados_1').prop('checked', false);
            $('#termo_dados_2').prop('disabled', false);
         }
    }
    else {
         $('#termo_dados_2').attr('disabled', 'disabled');
         $('#termo_dados_2').prop('checked', false);
         $('#termo_dados_1').prop('disabled', false);
       }
    });
    
</script>

<script>
 
    $("#subcategoria").change(function () {
      var gestores = jQuery("#user-group").text()
      var selectedSubCategory = $(this).children("option:selected").text();
      var selectedCategory = $('#categoria').children("option:selected").text();
      if(selectedSubCategory == 'Justificativa de Ausência' ){
       $('#justificativa_ausencia_link')[0].click();
      }
      else if(selectedSubCategory == 'Férias'){
        $('#agendamento_ferias_link')[0].click();
      }

    });
</script>

<script>
  $(document).ready(function () {
    periodo_inicio = $('#periodo_inicio').val();
    console.log(periodo_inicio)
  });
</script>

<script>
  $('#telefone_edit').mask('(00) 00000-00009');
  $('#telefone_edit').blur(function (event) {
    if ($(this).val().length == 15) { // Celular com 9 dígitos + 2 dígitos DDD e 4 da máscara
      $('#telefone_edit').mask('(00) 00000-00009');
    } else {
      $('#telefone_edit').mask('(00) 0000-00009');
    }
  });
</script>

<script>
  const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  jQuery("#send-answer").click(function () {

      let username =  jQuery("#username").val();
      console.log("username : ", username)

      let admissao = jQuery("#admissao").val();
      console.log("admissao : ", admissao)
                                      
      let url = "/verifica_senha/" + username + "/";
      jQuery.ajax({
        url: url,
        type: 'GET',
        data: {
          username : username,
          admissao : admissao,
          
        },

        beforeSend: function (xhr) {
        },

        success: function (data) {
        },

        error: function (xhr) {
          console.log(xhr.error)
          
        },
        complete: function () {
          // body...
        }
      })
    });
</script>

<script>
  $(document).ready(function(){
    var i = 1;
    $("#add-ferias").click(function(){
      i++;
      $("#dinamic-lines").append("<tr id='row"+i+"'><td><input type='text' class='form-control' id='registro-re-ferias' name='registro-funcionario' placeholder='RE'></td><td><input type='text' class='form-control' id='nome-ferias' name='registro-funcionario' placeholder='Nome do Funcionário'></td><td> <input type='text' class='form-control' id='data-ferias' name='registro-funcionario' placeholder='DD/MM/AAAA'></td><td><input type='text' class='form-control' id='quantidade-ferias' name='registro-funcionario' placeholder='5 a 30 dias'></td><td><input type='text' class='form-control' id='abono-ferias' name='registro-funcionario' placeholder='Sim/Não'> </td><td><input type='text' class='form-control' id='decimo-terceiro-ferias'name='registro-funcionario' placeholder='Sim/Não'></td><td style='text-align : center;'><a type='button' id='remove-ferias' ><img src='{% static 'assets\icons\minus.png' %}' width='26'> </a></td></tr>");
    });
    $(".remove-ferias").click(function(){
    })
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#li-ADMINISTRADORES").click(function (){
      $(this).addClass("li-active");
      $('#li-ADMINISTRADORES').find('span').show();
      $('#li-RH').removeClass("li-active");
      $('#li-RH').find("span").hide();
      $('#li-user').removeClass("li-active");
      $('#li-user').find('span').hide();
    })

    $("#li-RH").click(function (){
      $(this).addClass("li-active");
      $('#li-RH').find('span').show();
      $('#li-ADMINISTRADORES').removeClass("li-active");
      $('#li-ADMINISTRADORES').find("span").hide();
      $('#li-user').removeClass("li-active");
      $('#li-user').find('span').hide();
    })

    $("#li-user").click(function() {
      $(this).addClass("li-active");
      $('#li-user').find('span').show();
      $('#li-ADMINISTRADORES').removeClass("li-active");
      $('#li-ADMINISTRADORES').find("span").hide();
      $('#li-RH').removeClass("li-active");
      $('#li-RH').find('span').hide();
    })

    $('#li-power').mouseover(function (){
      $(this).addClass("li-active");
    })
    $('#li-power').mouseleave(function (){
      $(this).removeClass("li-active");
    })
  });
  </script>


<script>
// This action occurs when I select the select-options of group ... 
$('#grupo_unidade').change(function () {
    var selectedGroup = $(this).children("option:selected").val();
    var grupo_atual = $("#grupo_atual")
    var url = '/seleciona_grupo/' + selectedGroup + "/"
     jQuery.ajax({
        url: url,
        type: 'GET',
        data: {
          selectedGroup : selectedGroup,
        },

        beforeSend: function (xhr) {
        },

        success: function (data) {
          console.log(data)
        },

        error: function (xhr) {
          console.log(xhr.error)
          
        },
        complete: function () {
          // body...
        }
      })
    
})

</script>

</head>

