* {
    margin: 0;
    padding: 0;
    outline: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 80px;
    z-index: 1055;
}

#id_username {
    display: none;
}

label[for=id_username] {
    display: none;
}

ul.paginator {
    z-index: 1050;
}

.page-link {
    z-index: 1050;
}

td:hover {
    opacity: 0.7;
    filter: brightness(90%);
}

tbody {
    background-color: #f2f2f2;
}

td {
    transition: filter 0.1s;
}

#ticket-aberto {
    color: red;
    text-align: center;
}

#ticket-fechado {
    color: green;
    text-align: center;
}

.asteriskField {
    display: none;
}

/* Animações */

main {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Radios buttons */

input[type="radio"] + label {
    font-family:Arial, sans-serif;
    font-size:15px;
}

.history-field {
    overflow-y: auto;
    height:200px;
    background: #E9ECEF; 
    border: 1px solid #cecece;
}

ul#topnav {
    margin: 0;
	float: left;
	width: 100%;
	list-style: none;
	font-size: 1.0em;
	background:url(static/img/topnav_s.gif) repeat-x;
}

ul#topnav li {
	float: left;
    border-right: 1px solid #555;
}

ul#topnav li a {
	padding: 10px 15px;
	display: block;
	color: #f0f0f0;
    text-decoration: none;
    padding-top: 5.5px;
}


ul#topnav li span {
	float: left;
    padding: 1px 0;
    position: absolute;
    display: none;
    left: 0; top:35px;
	padding: 11px;
	background:  #555;
	color: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

ul#topnav li span { display: block; }
ul#topnav li span a { display: inline; }
ul#topnav li span a:hover {text-decoration: underline;}

.li-active {
    display: visible;
    background-color: #555;
}