{% extends 'base.html' %}
{% load static %}

{% block titulo %} Adicionar Unidade {% endblock %}

{% block conteudo %}


<h2 class="mb-4">Adicionar Unidade</h2>
<hr>
<form method="POST" enctype="multipart/form-data" action="{% url 'perfil:create_unidade_admin' %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-12">
        <label>Nome da Unidade : </label>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" name="nome" id="nome_unidade" value="{{ unidade.nome }}"
        placeholder="Ex: Salto, Jundiaí, Camaçari, Várzea Paulista">
        </div>
        <div class="col-md-12 mt-3">
        <a href="#" id="adicionar-email"><img  class="mb-1" src="{% static 'img/add.png' %}" alt="Adicionar"></a>
            <label>E-mail (define endereço disparador) : </label>
        </div>
        <div class="col-md-6" id="email-disparador">
            <input type="email" class="form-control" name="email" id="email" value="{{ unidade.email }}"
          placeholder="Ex: rhsalto.au_gs_fa@continental-corporation.com">
          </div>
        <div class="col-md-12 mt-3">
        <a href="#" id="adicionar-menu"><img  class="mb-1" src="{% static 'img/add.png' %}" alt="Adicionar"></a>
        <label>Menu (define menus visualizados) : </label>
        <div id="check-menu">
          <div class="form-check">
            <div class="m-1">
          {{ form.menu }}
            </div>
            </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
          <a href="#" id="adicionar-grupo"><img  class="mb-1" src="{% static 'img/add.png' %}" alt="Adicionar"></a>
          <label>Grupo (Define grupo para pessoas): </label>
          <div class="col-md-6" id="grupo">
            
            <select class="form-control" name="grupo" multiple>
              {% for item  in grupo %}
              <option value="{{ item.id }}">{{ item }}</option>
              {% endfor %}
              </select>
          </div>

        </div>
    
    <div class="col-md-12 mt-4">
      <button type="submit" class="btn btn-success w-25">Salvar Configuração</button>
      <a href="{% url 'perfil:unidade_admin' %}" class="btn btn-warning w-25">Voltar</a>
  </div>
    </form>
{% endblock %}