{% extends 'base.html' %}
{% load static %}
<!-- #UTF-8 -->
{% block titulo %} Alteração de Grupo {% endblock %}

{% block conteudo %}

<input type="text" name="unidade" id="unidade" class="form-control" value="{{ unidade.id }}" hidden>
            <a href="#" id="adicionar-grupo"><img  class="mb-1" src="{% static 'img/add.png' %}" alt="Adicionar"></a>
            <label>Grupo (Define grupo para pessoas):</label>
         
            <div id="grupo" class="col-md-12">
          <div class="row p-2">
                <table class="table table-striped table-responsive border rounded bg-light shadow">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" style="width: 20%; text-align : left;">Grupo</th>
                      <th scope="col" style="width: 15%; text-align : left;">Funcionário</th>
                      <th scope="col" style="width: 18%; text-align : left;"></th>
                    </tr>
                  </thead>
                  <tbody>   
                  <form method="POST" enctype="multipart/form-data"
                   action="{% url 'perfil:update_grupo_admin' unidade.id %}">
                  {% csrf_token %}
                    <tr>
                      <td style="text-align : left;">
                        <select name="grupo" id="grupo_unidade_adicionar" class="select form-control form-control">
                          <option value="" selected>Selecione o grupo onde o usuário pertence.</option>
                          {% for group in group %}
                          <option name="selected_group" value="{{ group.id }}">{{ group.name }}</option>
                          {% endfor %}
                        </select>
                      </td>
                      <td scope="row" style="text-align : left;">
                        <input class="form-control mr-sm-2" type="text" placeholder="Digite o RE do Funcionário" name="adiciona_funcionario" id="adiciona_funcionario" aria-label="Search">
                      </td>
                      <td style="text-align : left;">
                        <button type="submit" class="btn btn-success pr-5 pl-5 w-100 ">Adicionar</button>
                      </td>
                    </tr>
                    </form>
                    
                  <!-- Remover Grupo ... -->
                  <form method="POST" enctype="multipart/form-data"
                   action="{% url 'perfil:delete_user_group' unidade.id %}">
                  {% csrf_token %}
                    <tr>

                      <td style="text-align : left;">
                        <select name="grupo" id="grupo_unidade_remove" class="select form-control form-control">
                          <option value="" selected disabled>Selecione o grupo onde o usuário pertence.</option>
                          {% for group in group %}
                          <option name="selected_group" value="{{ group.id }}">{{ group.name }}</option>
                          {% endfor %}
                        </select>
                      </td>

                      <td scope="row" style="text-align : left;">
                        <input class="form-control mr-sm-2" type="text" placeholder="Digite o RE do Funcionário"
                         name="remover_funcionario" id="adiciona_funcionario" aria-label="Search">
                      </td>
                      <td style="text-align : left;">
                        <button type="submit" class="btn btn-danger pr-5 pl-5 w-100 ">Remover</button>
                      </td>
                    </tr>
                    </form>

                  </tbody>
                </table>

                 <table class="table table-striped table-responsive border rounded bg-light shadow">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" style="width: 20%; text-align : left;">RE</th>
                      <th scope="col" style="width: 30%; text-align : left;">Funcionário</th>
                      <th scope="col" style="width: 1%; text-align : left;">Visualização</th>
                    </tr>
                  </thead>
                  <tbody id="grupo_table_body">   
                    <tr id="grupo_estatico">
                      <td style="text-align : left;">&nbsp;</td>
                      <td scope="row" style="text-align : left;">&nbsp;</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                <div class="col-md-12">
                  <a href="{% url 'perfil:update_unidade_admin' unidade.id %}" class="btn btn-warning pr-5 pl-5 w-100">Voltar</a>
                </div>
          </div>
          </div>

{% endblock %}
