* {
    margin: 0;
    padding: 0;
    outline: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 80px;
    z-index: 1055;
}

ul.paginator {
    z-index: 1050;
}

.page-link {
    z-index: 1050;
}

td:hover {
    opacity: 0.7;
    filter: brightness(90%);
}

tbody {
    background-color: #f2f2f2;
}

td {
    transition: filter 0.1s;
}

#ticket-aberto {
    color: red;
    text-align: center;
}

#ticket-fechado {
    color: green;
    text-align: center;
}

.asteriskField {
    display: none;
}

/* Animações */

main {
    animation-name: fade;
    animation-duration: 3s;
}

.help-block {
    color: red;
    font-size: 18px;
}

#id_username {
    display: none;
}

[for="id_username"] {
    display: none;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* perfil checkbox */

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  
}

.checkboxtext
{
  display: inline;
  padding: 15px;
}

/* ---------------------------------- */